# vi temporary files:
*~
*.swp

# freecad
*.FCStd1

# python
*.pyc

# vs code
.vs/
.vscode/

# RST folders and files
docs/_build/
docs/_static/
docs/_templates/
docs/MakeFile
docs/make.bat

#files not interestings
Empleo_Workbench_Mecatronica.pdf
Utilizacion_Workbench_Mecatronica.docx