body{
    text-align:left;
    font-family: Consolas,'Lucida Console';
    font-size: medium;
    background-color:RGBA(0,10,10,0.85);
    color: white
}
h1,h2,h3,h4,h5,h6 {color: limegreen;}

hr {
    border-style: dashed;
    border-color: RGBA(0,255,0,1);
    border-width: 2px;
}
img{
    position: relative;
    /*left: 400px;*/
    float: left;
}

ul{
    position: relative;
    left: 25px;
}
div {
    display: inline-block;
    height: 100%;
}
#logo {
    width: 10%;
}
#center {
    width: 80%;
}
a:link {color: deepskyblue;}
a:visited {color: RGBA(255,105,255,1);}
